@model Akshaya.AppEntities.Entities.ProductModel

<div ng-controller="products" class="productsMainDiv">
    <div class="productsDiv" ng-show="showAddProductDiv">
        <div ng-repeat="product in products">
            <div class="left clearLeft">
                <br /><span>Name: {{product.Name}}</span>
                <br /><span>Description: {{product.Description}}</span>
                <br /><span>Price: ${{product.UnitPrice}}</span>
                <br /><span>Buy Price: ${{product.BuyingPrice}}</span>
                <br />
                <span>
                    Available:
                    <span ng-show="product.CurrentlyAvailable > 0">Yes</span>
                    <span ng-hide="product.CurrentlyAvailable > 0">No</span>
                </span>
                <br /><span style="display: none" name="id">{{product.Id}}</span>
            </div>
            <div class="right">
                <input id="btnEditProduct" type="button" value="Edit" ng-click="showEditProduct(product)" />
            </div>
        </div>
    </div>
    <div id="divAddProduct" ng-hide="showAddProductDiv" class="addProductDiv">
        <h3>{{SaveProductText}}</h3>
        <br />
        <div class="productsLabelDiv">Name: </div><input type="text" ng-model="newProduct.Name" /><br />
        <div class="productsLabelDiv">Description: </div><input type="text" ng-model="newProduct.Description" /><br />
        <div class="productsLabelDiv">Unit Price: </div><input type="text" ng-model="newProduct.UnitPrice" /><br />
        <div class="productsLabelDiv">Buy Price:</div> <input type="text" ng-model="newProduct.BuyingPrice" /><br />
        <div class="productsLabelDiv">Available Units: </div> <input type="text" ng-model="newProduct.CurrentlyAvailable" /><br />
        <div class="productsLabelDiv">Image: </div> <input id="btnSaveImage" type="file" value="Save" />
        <br />
        <input id="btnSaveProduct" type="button" value="Save" ng-click="saveNewProduct()" />
        <input id="btnCancelSave" type="button" value="Cancel" ng-click="cancelSaveProduct()" />
    </div>
    <div>
        <br />
        <input id="btnAddProduct" type="button" value="Add Product" ng-show="showAddProductDiv" ng-click="showAddProduct()" />
    </div>
</div>