.productsMainDiv {
    min-height: 400px;
}
.productsDiv {
    overflow-y: scroll;
    min-height: 0px;
    max-height: 300px;
}

.addProductDiv input[type=text] {
    /*padding: 0px;*/
    margin: 0px;
    vertical-align: central;
    vert-align: middle;
    width: 180px;
}

.productsLabelDiv {
    float: left;
    clear: left;
    width: 120px;
    height: 10px;
}
.left {
    float: left;
}
.clearLeft {
    clear: left;    
}
.right {
    float: right;
}